				<div class="arlo_tm_section relative" id="about">
					<div class="arlo_tm_about_wrapper_all">
						<div class="container">
							<div class="arlo_tm_title_holder">
								<h3>About Me</h3>
								<span>Main informations about me</span>
							</div>
							<div class="arlo_tm_about_wrap">
								<div class="author_wrap">
									<div class="leftbox">
										<div class="about_image_wrap parallax" data-relative-input="true">
											<div class="image layer" data-depth="0.1">
												<img src="img/about/550x640.jpg" alt="" />
												<div class="inner" data-img-url="{{page.aboutMe.about_pic}}"></div>
											</div>
											<div class="border layer" data-depth="0.2">
												<img src="img/about/550x640.jpg" alt="" />
												<div class="inner"></div>
											</div>
										</div>

									</div>
									<div class="rightbox">
										<div class="arlo_tm_mini_title_holder">
											<h4>I'm {{page.profile.firstName}} {{page.profile.lastName}} and I'm a <span class="arlo_tm_animation_text_word"></span></h4>
										</div>
										<div class="definition">
											<p>Hi! My name is <strong>{{page.profile.firstName}} {{page.profile.lastName}}</strong>. {{page.aboutMe.bio}}</p>
										</div>
										<div class="about_short_contact_wrap">
											<ul>
                                                {{#page.aboutMe.about_short}}
												<li>
													<span><label>{{name}}:</label> {{ans}}</span>
												</li>
                                                {{/page.aboutMe.about_short}}
											</ul>
										</div>
										<div class="buttons_wrap">
											<ul>
												<li>
													<a href="{{page.aboutMe.resume.url}}"><span>{{page.aboutMe.resume.button}}</span></a>
												</li>
												<li class="anchor">
													<a href="mailto:example@gmail.com"><span>Send Message</span></a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>