				<div class="arlo_tm_section" id="services">
					<div class="arlo_tm_services_wrap">
						<div class="container">
							<div class="arlo_tm_title_holder">
								<h3>Amazing Services</h3>
								<span>Meet our amazing services</span>
							</div>
							<div class="list_wrap">
								<ul>
									<li>
										<div class="inner">
											<div class="icon">
												<img class="svg" src="img/svg/camera-diaphragm.svg" alt="" />
											</div>
											<div class="title_service">
												<h3>Photography</h3>
											</div>
											<div class="text">
												<p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="inner">
											<div class="icon">
												<img class="svg" src="img/svg/new-tab.svg" alt="" />
											</div>
											<div class="title_service">
												<h3>Web Design</h3>
											</div>
											<div class="text">
												<p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="inner">
											<div class="icon">
												<img class="svg" src="img/svg/layers.svg" alt="" />
											</div>
											<div class="title_service">
												<h3>Branding</h3>
											</div>
											<div class="text">
												<p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="inner">
											<div class="icon">
												<img class="svg" src="img/svg/share.svg" alt="" />
											</div>
											<div class="title_service">
												<h3>Social Media</h3>
											</div>
											<div class="text">
												<p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="inner">
											<div class="icon">
												<img class="svg" src="img/svg/adobe-illustrator.svg" alt="" />
											</div>
											<div class="title_service">
												<h3>Illustrator</h3>
											</div>
											<div class="text">
												<p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
											</div>
										</div>
									</li>
									<li>
										<div class="inner">
											<div class="icon">
												<img class="svg" src="img/svg/seo-performance-marketing-graphic.svg" alt="" />
											</div>
											<div class="title_service">
												<h3>Marketing</h3>
											</div>
											<div class="text">
												<p>Web design is a similar process of creation, with the intention of presenting the content on electronic pages ...</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>