
canvas{
  display:block;
  vertical-align:bottom;
}
/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  bottom: 0px;
  background-color: #111111;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
