<!-- LEFTPART -->
		<div class="arlo_tm_leftpart_wrap">
			<div class="leftpart_inner">
				<div class="logo_wrap">
					<a href="#"><img src="{{global.logo}}" alt="" /></a>
				</div>
				<div class="menu_list_wrap">
					<ul class="anchor_nav">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#portfolio">Portfolio</a></li>
						<li><a href="#news">News</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div>
				<div class="leftpart_bottom">
					<div class="social_wrap">
						<ul>
							{{#global.social.linkedin.visible}}
							<li><a target="_blank" href="{{global.social.linkedin.url}}"><i class="xcon-{{global.social.linkedin.icon}}"></i></a></li>
							{{/global.social.linkedin.visible}}

							{{#global.social.insta.visible}}
							<li><a target="_blank" href="{{global.social.insta.url}}"><i class="xcon-{{global.social.insta.icon}}"></i></a></li>
							{{/global.social.insta.visible}}

							{{#global.social.github.visible}}
							<li><a target="_blank" href="{{global.social.github.url}}"><i class="icon-{{global.social.github.icon}}"></i></a></li>
							{{/global.social.github.visible}}
						</ul>
					</div>
				</div>
				<a class="arlo_tm_resize" href="#"><i class="xcon-angle-left"></i></a>
			</div>
		</div>
    <!-- /LEFTPART -->